<div class="page-width sr"><div class="section-header">
      <h2 class="section-header__title">Top Brands</h2>
    </div><div class="sssd sr-slider new-grid slick-initialized slick-slider slick-dotted" data-view="6-3"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;">Previous</button><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 6450px; transform: translate3d(-3010px, 0px, 0px);"><div class="grid-item  slick-slide slick-cloned" data-slick-index="-6" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/ferrero" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Ferrero" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_720x.webp?v=1660286211 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_900x.webp?v=1660286211 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_1080x.webp?v=1660286211 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_720x.webp?v=1660286211 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_900x.webp?v=1660286211 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_1080x.webp?v=1660286211 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_400x.webp?v=1660286211"
              alt="Ferrero">
          </noscript>
        </div></div>

    <span class="collection-item__title">Ferrero</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/kit-kat" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Kit Kat" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_720x.webp?v=1660285723 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_900x.webp?v=1660285723 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_1080x.webp?v=1660285723 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_720x.webp?v=1660285723 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_900x.webp?v=1660285723 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_1080x.webp?v=1660285723 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_400x.webp?v=1660285723"
              alt="Kit Kat">
          </noscript>
        </div></div>

    <span class="collection-item__title">Kit Kat</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/cadbury" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Cadbury" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_720x.webp?v=1660286086 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_900x.webp?v=1660286086 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_1080x.webp?v=1660286086 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_720x.webp?v=1660286086 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_900x.webp?v=1660286086 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_1080x.webp?v=1660286086 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_400x.webp?v=1660286086"
              alt="Cadbury">
          </noscript>
        </div></div>

    <span class="collection-item__title">Cadbury</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/hersheys" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Hershey's" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_720x.webp?v=1660286062 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_900x.webp?v=1660286062 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_1080x.webp?v=1660286062 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_720x.webp?v=1660286062 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_900x.webp?v=1660286062 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_1080x.webp?v=1660286062 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_400x.webp?v=1660286062"
              alt="Hershey&#39;s">
          </noscript>
        </div></div>

    <span class="collection-item__title">Hershey's</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/valrhona" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Valrhona" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_720x.webp?v=1660285962 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_900x.webp?v=1660285962 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_1080x.webp?v=1660285962 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_720x.webp?v=1660285962 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_900x.webp?v=1660285962 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_1080x.webp?v=1660285962 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_400x.webp?v=1660285962"
              alt="Valrhona">
          </noscript>
        </div></div>

    <span class="collection-item__title">Valrhona</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/after-eight" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="After Eight" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_720x.webp?v=1660286003 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_900x.webp?v=1660286003 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_1080x.webp?v=1660286003 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_720x.webp?v=1660286003 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_900x.webp?v=1660286003 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_1080x.webp?v=1660286003 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_400x.webp?v=1660286003"
              alt="After Eight">
          </noscript>
        </div></div>

    <span class="collection-item__title">After Eight</span>
  </a>
</div><div class="grid-item  slick-slide" data-slick-index="0" aria-hidden="true" style="width: 215px;" tabindex="-1" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00">
  <a href="https://cococart.in/collections/godiva" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Godiva" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_720x.webp?v=1660285886 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_900x.webp?v=1660285886 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_1080x.webp?v=1660285886 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_720x.webp?v=1660285886 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_900x.webp?v=1660285886 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_1080x.webp?v=1660285886 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_400x.webp?v=1660285886"
              alt="Godiva">
          </noscript>
        </div></div>

    <span class="collection-item__title">Godiva</span>
  </a>
</div><div class="grid-item  slick-slide" data-slick-index="1" aria-hidden="true" style="width: 215px;" tabindex="-1" role="tabpanel" id="slick-slide01">
  <a href="https://cococart.in/collections/neuhaus" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Neuhaus" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_720x.webp?v=1660285794 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_900x.webp?v=1660285794 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_1080x.webp?v=1660285794 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_720x.webp?v=1660285794 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_900x.webp?v=1660285794 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_1080x.webp?v=1660285794 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_400x.webp?v=1660285794"
              alt="Neuhaus">
          </noscript>
        </div></div>

    <span class="collection-item__title">Neuhaus</span>
  </a>
</div><div class="grid-item  slick-slide" data-slick-index="2" aria-hidden="true" style="width: 215px;" tabindex="-1" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control01">
  <a href="https://cococart.in/collections/wedel" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Wedel" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_720x.jpg?v=1662370268 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_900x.jpg?v=1662370268 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_1080x.jpg?v=1662370268 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_720x.jpg?v=1662370268 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_900x.jpg?v=1662370268 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_1080x.jpg?v=1662370268 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_400x.jpg?v=1662370268"
              alt="Wedel">
          </noscript>
        </div></div>

    <span class="collection-item__title">Wedel</span>
  </a>
</div><div class="grid-item  slick-slide" data-slick-index="3" aria-hidden="true" style="width: 215px;" tabindex="-1" role="tabpanel" id="slick-slide03">
  <a href="https://cococart.in/collections/whittakers" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Whittakers" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_720x.webp?v=1660286232 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_900x.webp?v=1660286232 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_1080x.webp?v=1660286232 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_720x.webp?v=1660286232 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_900x.webp?v=1660286232 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_1080x.webp?v=1660286232 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_400x.webp?v=1660286232"
              alt="Whittakers">
          </noscript>
        </div></div>

    <span class="collection-item__title">Whittakers</span>
  </a>
</div><div class="grid-item  slick-slide" data-slick-index="4" aria-hidden="true" style="width: 215px;" tabindex="-1" role="tabpanel" id="slick-slide04" aria-describedby="slick-slide-control02">
  <a href="https://cococart.in/collections/malteser" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Malteser" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_720x.webp?v=1660285742 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_900x.webp?v=1660285742 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_1080x.webp?v=1660285742 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_720x.webp?v=1660285742 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_900x.webp?v=1660285742 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_1080x.webp?v=1660285742 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_400x.webp?v=1660285742"
              alt="Malteser">
          </noscript>
        </div></div>

    <span class="collection-item__title">Malteser</span>
  </a>
</div><div class="grid-item  slick-slide" data-slick-index="5" aria-hidden="true" style="width: 215px;" tabindex="-1" role="tabpanel" id="slick-slide05">
  <a href="https://cococart.in/collections/kinder" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Kinder" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_720x.webp?v=1660285944 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_900x.webp?v=1660285944 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_1080x.webp?v=1660285944 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_720x.webp?v=1660285944 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_900x.webp?v=1660285944 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_1080x.webp?v=1660285944 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_400x.webp?v=1660285944"
              alt="Kinder">
          </noscript>
        </div></div>

    <span class="collection-item__title">Kinder</span>
  </a>
</div><div class="grid-item  slick-slide" data-slick-index="6" aria-hidden="true" style="width: 215px;" tabindex="-1" role="tabpanel" id="slick-slide06" aria-describedby="slick-slide-control03">
  <a href="https://cococart.in/collections/ferrero" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Ferrero" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_720x.webp?v=1660286211 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_900x.webp?v=1660286211 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_1080x.webp?v=1660286211 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_720x.webp?v=1660286211 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_900x.webp?v=1660286211 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_1080x.webp?v=1660286211 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_400x.webp?v=1660286211"
              alt="Ferrero">
          </noscript>
        </div></div>

    <span class="collection-item__title">Ferrero</span>
  </a>
</div><div class="grid-item  slick-slide" data-slick-index="7" aria-hidden="true" style="width: 215px;" tabindex="-1" role="tabpanel" id="slick-slide07">
  <a href="https://cococart.in/collections/kit-kat" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Kit Kat" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_720x.webp?v=1660285723 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_900x.webp?v=1660285723 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_1080x.webp?v=1660285723 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_720x.webp?v=1660285723 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_900x.webp?v=1660285723 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_1080x.webp?v=1660285723 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_400x.webp?v=1660285723"
              alt="Kit Kat">
          </noscript>
        </div></div>

    <span class="collection-item__title">Kit Kat</span>
  </a>
</div><div class="grid-item  slick-slide slick-current slick-active" data-slick-index="8" aria-hidden="false" style="width: 215px;" tabindex="0" role="tabpanel" id="slick-slide08" aria-describedby="slick-slide-control04">
  <a href="https://cococart.in/collections/cadbury" class="collection-item" tabindex="0"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Cadbury" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_720x.webp?v=1660286086 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_900x.webp?v=1660286086 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_1080x.webp?v=1660286086 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_720x.webp?v=1660286086 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_900x.webp?v=1660286086 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_1080x.webp?v=1660286086 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_400x.webp?v=1660286086"
              alt="Cadbury">
          </noscript>
        </div></div>

    <span class="collection-item__title">Cadbury</span>
  </a>
</div><div class="grid-item  slick-slide slick-active" data-slick-index="9" aria-hidden="false" style="width: 215px;" tabindex="0" role="tabpanel" id="slick-slide09">
  <a href="https://cococart.in/collections/hersheys" class="collection-item" tabindex="0"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Hershey's" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_720x.webp?v=1660286062 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_900x.webp?v=1660286062 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_1080x.webp?v=1660286062 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_720x.webp?v=1660286062 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_900x.webp?v=1660286062 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_1080x.webp?v=1660286062 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_400x.webp?v=1660286062"
              alt="Hershey&#39;s">
          </noscript>
        </div></div>

    <span class="collection-item__title">Hershey's</span>
  </a>
</div><div class="grid-item  slick-slide slick-active" data-slick-index="10" aria-hidden="false" style="width: 215px;" tabindex="0" role="tabpanel" id="slick-slide010" aria-describedby="slick-slide-control05">
  <a href="https://cococart.in/collections/valrhona" class="collection-item" tabindex="0"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Valrhona" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_720x.webp?v=1660285962 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_900x.webp?v=1660285962 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_1080x.webp?v=1660285962 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_720x.webp?v=1660285962 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_900x.webp?v=1660285962 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_1080x.webp?v=1660285962 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_400x.webp?v=1660285962"
              alt="Valrhona">
          </noscript>
        </div></div>

    <span class="collection-item__title">Valrhona</span>
  </a>
</div><div class="grid-item  slick-slide slick-active" data-slick-index="11" aria-hidden="false" style="width: 215px;" tabindex="0" role="tabpanel" id="slick-slide011">
  <a href="https://cococart.in/collections/after-eight" class="collection-item" tabindex="0"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="After Eight" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_720x.webp?v=1660286003 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_900x.webp?v=1660286003 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_1080x.webp?v=1660286003 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_720x.webp?v=1660286003 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_900x.webp?v=1660286003 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_1080x.webp?v=1660286003 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_400x.webp?v=1660286003"
              alt="After Eight">
          </noscript>
        </div></div>

    <span class="collection-item__title">After Eight</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned slick-active" data-slick-index="12" aria-hidden="false" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/godiva" class="collection-item" tabindex="0"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Godiva" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_720x.webp?v=1660285886 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_900x.webp?v=1660285886 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_1080x.webp?v=1660285886 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_720x.webp?v=1660285886 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_900x.webp?v=1660285886 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_1080x.webp?v=1660285886 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-13_400x.webp?v=1660285886"
              alt="Godiva">
          </noscript>
        </div></div>

    <span class="collection-item__title">Godiva</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned slick-active" data-slick-index="13" aria-hidden="false" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/neuhaus" class="collection-item" tabindex="0"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Neuhaus" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_720x.webp?v=1660285794 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_900x.webp?v=1660285794 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_1080x.webp?v=1660285794 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_720x.webp?v=1660285794 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_900x.webp?v=1660285794 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_1080x.webp?v=1660285794 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-12_400x.webp?v=1660285794"
              alt="Neuhaus">
          </noscript>
        </div></div>

    <span class="collection-item__title">Neuhaus</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/wedel" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Wedel" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_720x.jpg?v=1662370268 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_900x.jpg?v=1662370268 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_1080x.jpg?v=1662370268 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_720x.jpg?v=1662370268 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_900x.jpg?v=1662370268 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_1080x.jpg?v=1662370268 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Wedel-Collections-Banner_400x.jpg?v=1662370268"
              alt="Wedel">
          </noscript>
        </div></div>

    <span class="collection-item__title">Wedel</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/whittakers" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Whittakers" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_720x.webp?v=1660286232 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_900x.webp?v=1660286232 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_1080x.webp?v=1660286232 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_720x.webp?v=1660286232 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_900x.webp?v=1660286232 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_1080x.webp?v=1660286232 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Whittakers_400x.webp?v=1660286232"
              alt="Whittakers">
          </noscript>
        </div></div>

    <span class="collection-item__title">Whittakers</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="16" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/malteser" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Malteser" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_720x.webp?v=1660285742 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_900x.webp?v=1660285742 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_1080x.webp?v=1660285742 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_720x.webp?v=1660285742 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_900x.webp?v=1660285742 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_1080x.webp?v=1660285742 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Maltesers_400x.webp?v=1660285742"
              alt="Malteser">
          </noscript>
        </div></div>

    <span class="collection-item__title">Malteser</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="17" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/kinder" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Kinder" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_720x.webp?v=1660285944 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_900x.webp?v=1660285944 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_1080x.webp?v=1660285944 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_720x.webp?v=1660285944 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_900x.webp?v=1660285944 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_1080x.webp?v=1660285944 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-15_400x.webp?v=1660285944"
              alt="Kinder">
          </noscript>
        </div></div>

    <span class="collection-item__title">Kinder</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="18" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/ferrero" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Ferrero" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_720x.webp?v=1660286211 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_900x.webp?v=1660286211 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_1080x.webp?v=1660286211 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_720x.webp?v=1660286211 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_900x.webp?v=1660286211 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_1080x.webp?v=1660286211 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Ferrero_400x.webp?v=1660286211"
              alt="Ferrero">
          </noscript>
        </div></div>

    <span class="collection-item__title">Ferrero</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="19" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/kit-kat" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Kit Kat" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_720x.webp?v=1660285723 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_900x.webp?v=1660285723 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_1080x.webp?v=1660285723 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_720x.webp?v=1660285723 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_900x.webp?v=1660285723 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_1080x.webp?v=1660285723 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-06_400x.webp?v=1660285723"
              alt="Kit Kat">
          </noscript>
        </div></div>

    <span class="collection-item__title">Kit Kat</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="20" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/cadbury" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Cadbury" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_720x.webp?v=1660286086 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_900x.webp?v=1660286086 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_1080x.webp?v=1660286086 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_720x.webp?v=1660286086 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_900x.webp?v=1660286086 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_1080x.webp?v=1660286086 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-10_400x.webp?v=1660286086"
              alt="Cadbury">
          </noscript>
        </div></div>

    <span class="collection-item__title">Cadbury</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="21" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/hersheys" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Hershey's" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_720x.webp?v=1660286062 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_900x.webp?v=1660286062 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_1080x.webp?v=1660286062 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_720x.webp?v=1660286062 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_900x.webp?v=1660286062 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_1080x.webp?v=1660286062 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-19_400x.webp?v=1660286062"
              alt="Hershey&#39;s">
          </noscript>
        </div></div>

    <span class="collection-item__title">Hershey's</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="22" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/valrhona" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="Valrhona" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_720x.webp?v=1660285962 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_900x.webp?v=1660285962 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_1080x.webp?v=1660285962 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_720x.webp?v=1660285962 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_900x.webp?v=1660285962 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_1080x.webp?v=1660285962 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/Banners-01_400x.webp?v=1660285962"
              alt="Valrhona">
          </noscript>
        </div></div>

    <span class="collection-item__title">Valrhona</span>
  </a>
</div><div class="grid-item  slick-slide slick-cloned" data-slick-index="23" aria-hidden="true" style="width: 215px;" tabindex="-1">
  <a href="https://cococart.in/collections/after-eight" class="collection-item" tabindex="-1"><div class="collection-image-wrap collection-image--portrait"><div class="collection-image collection-image--is-collection image-wrap"><img class="lazyautosizes lazyloaded" src="https://cococart.in/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SC_performance_max_generic&amp;utm_source=Scraft&amp;utm_medium=google-perfmax&amp;utm_campaign=COCO_9317_SCFT_PerformanceMax_Metros-16191321980&amp;gclid=Cj0KCQjw7KqZBhCBARIsAI-fTKK_HMujf4wqESHlxWFZq1AgDVMlfMAWZWEhLypey3o9nLvve6H96SEaAiRqEALw_wcB" data-aspectratio="3.0" data-widths="[720, 900, 1080]" data-sizes="auto" alt="After Eight" data-srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_720x.webp?v=1660286003 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_900x.webp?v=1660286003 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_1080x.webp?v=1660286003 1080w" sizes="165px" srcset="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_720x.webp?v=1660286003 720w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_900x.webp?v=1660286003 900w, //cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_1080x.webp?v=1660286003 1080w">

          <noscript>
            <img class="lazyloaded"
              src="//cdn.shopify.com/s/files/1/0656/5412/8891/collections/After-EIght_1_400x.webp?v=1660286003"
              alt="After Eight">
          </noscript>
        </div></div>

    <span class="collection-item__title">After Eight</span>
  </a>
</div></div></div>












<button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;">Next</button><ul class="slick-dots" style="display: block;" role="tablist"><li class="" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 2" tabindex="-1">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide02" aria-label="2 of 2" tabindex="-1">2</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide04" aria-label="3 of 2" tabindex="-1">3</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide06" aria-label="4 of 2" tabindex="-1">4</button></li><li role="presentation" class="slick-active"><button type="button" role="tab" id="slick-slide-control04" aria-controls="slick-slide08" aria-label="5 of 2" tabindex="-1">5</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control05" aria-controls="slick-slide010" aria-label="6 of 2" tabindex="-1">6</button></li></ul></div>
</div>