<table>
  <td>
    <div class="imageContainer">
      <img src="~/img/bg.jpg" alt="Avatar" class="image" style="width:160px;height:220px">
      <div class="middle">
        <div class="text">Choco1</div>
      </div>
    </div>
  </td>
  <td>
    <div class="imageContainer">
      <img src="~/img/bg.jpg" alt="Avatar" class="image" style="width:160px;height:220px">
      <div class="middle">
        <div class="text">Choco2 Choco2 Choco2 Choco2 Choco2 Choco2Choco2 Choco2 Choco2Choco2 dfsgerget fdfg</div>
      </div>
    </div>
  </td>
  <td>
    <div class="imageContainer">
      <img src="~/img/bg.jpg" alt="Avatar" class="image" style="width:160px;height:220px">
      <div class="middle">
        <div class="text">Choco3</div>
      </div>
    </div>
  </td>
  <td>
    <div class="imageContainer">
      <img src="~/img/bg.jpg" alt="Avatar" class="image" style="width:160px;height:220px">
      <div class="middle">
        <div class="text">Choco4</div>
      </div>
    </div>
  </td>
  <td>
    <div class="imageContainer">
      <img src="~/img/bg.jpg" alt="Avatar" class="image" style="width:160px;height:220px">
      <div class="middle">
        <div class="text">Choco5</div>
      </div>
    </div>
  </td>
  <td>
    <div class="imageContainer">
      <img src="~/img/bg.jpg" alt="Avatar" class="image" style="width:160px;height:220px">
      <div class="middle">
        <div class="text">Choco6</div>
      </div>
    </div>
  </td>
</table>